<h1><%= @term.term %></h1>

<%= @term.books_count %> years
<table>
<% for line in @term.lines -%>
  <tr>
    <td><%= link_to line.book.title, book_path(line.book) %></td>
    <td><%= line.tree_number %></td>
  </tr>
<% end -%>
</table>
