#hd { font-size: 138.5%; margin: 0.5em 0; font-weight: bold;}
#ft { text-align: right; font-size: 85% }
/* http://kuler.adobe.com/#themeID/231174 
#9cc : sky
#e53 : orange
#765 : dark brown
#aa8 : light olive
#feb : beige
*/

.home  { background-color: #9cc; }
.terms { background-color: #e53; }
.books { background-color: #765; }
.test2 { background-color: #aa8; }

/* yui tabview customization start */
li.home, li.terms, li.books, li.test2 {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.yui-navset-left .yui-nav a,
.yui-navset-left .yui-nav a:visited {
  color: #fff;
}
.yui-navset-left .yui-nav a em {
  border-right:1px solid #fff;
  padding:0.5em 0.75em;
}
.yui-navset-left .yui-nav .selected a em{
  font-weight: bold;
  border-right-width:0;
}
.yui-navset-left .yui-content {
  padding: 1em;
}
.mv-content {
  background:#fff;
  padding: 0.5em 1em 1em 1em;
  min-height: 32em;
  height: auto !important;
  height: 32em;
  clear:both;
}
/* yui tabview customization start */

/* pagination start */
.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    color: #fff;
    background-color: #666;
    border: 1px solid #333; }
  .pagination a {
    text-decoration: none;
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      border-color: #333; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
/* pagination end */

/* alphabetical query list start */
ul.alphabetical {
	margin: 1em 0;
}
  .alphabetical li {
    display: inline;
    list-style: none;
    margin: 0 0.6em;
    font-weight:bold;
  }
  .alphabetical a {
    font-weight:normal;
  }
/* alphabetical query list end */
