<h1>Welcome to MEVO: MeSH Evolution Browser</h1>

<p>MeSH (Medical Subject Headings) is the National Library of Medicine's controlled vocabulary thesaurus. MeSH is created, maintained, and provided by the <%= link_to("National Library of Medicine", "http://www.nlm.nih.gov") %>. See <%= link_to("http://www.nlm.nih.gov/mesh/2009/download/termscon.html", "http://www.nlm.nih.gov/mesh/2009/download/termscon.html") %> for more details.</p>