<h1>Books</h1>

<ul>
<% for book in @books %>
  <li><%= link_to  book.title, book_path(book) %>: <%= number_with_delimiter book.line_items_count %> nodes, <%= number_with_delimiter book.terms_count %> terms</li>
<% end %>
</ul>
