<h1>Books</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Nodes</th>
    <th>Terms</th>
  </tr>
<% for book in @books -%>
  <tr>
    <td><%= link_to  book.title, book_path(book) %></td>
    <td><%= link_to number_with_delimiter(book.nodes_count), nodes_book_path(book) %></td>
    <td><%= link_to number_with_delimiter(book.terms_count), book_terms_path(book) %></td>
  </tr>
<% end -%>
</table>
