<h1><%= @book.title %></h1>

nodes: <%= link_to(number_with_delimiter(@book.nodes_count), nodes_book_path(@book)) %>
terms: <%= link_to(number_with_delimiter(@book.terms_count), book_terms_path(@book)) %>
